.additional-services {
	margin-top: 60px;

	&__title {
		color: var(--white);
	}

	&__list {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: center;
		gap: 20px;
	}

	&__item {
		padding-inline: 10px;
		position: relative;
		width: 100%;
		max-width: 310px;
		min-width: 280px;
		background-color: rgb(244, 217, 189);
		border-radius: 10px;
		text-align: center;

		@media (max-width: 950px) {
			max-width: 280px;
			min-width: 250px;

			&::after {
				content: '';
				position: absolute;
				top: 10px;
				right: 10px;
				width: 30px;
				height: 30px;
				background-image: url(../img/touching.webp);
				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		&:hover &-img {
			filter: blur(7px);
		}

		&-img {
			width: 100%;
			transition: 0.3s ease-in-out;
		}

		&:hover &-container {
			opacity: 1;
			bottom: 20%;
		}

		&-container {
			max-width: 90%;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			row-gap: 7px;
			opacity: 0;
			z-index: 10;
			transition: 0.3s ease-in-out;
			background-color: rgb(146, 106, 63);
			color: white;
			padding: 10px;
			border-radius: 10px;
		}
	}
}