.burger {
	display: none;

	@media (max-width: 800px) {
		position: fixed;
		top: 40px;
		right: 5%;
		width: 36px;
		height: 21px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		cursor: pointer;

		&__line {
			display: block;
			width: 20px;
			height: 3px;
			border-radius: 4px;
			background-color: #fff;

			&--min {
				width: 12px;
			}
		}
	}

	&-close-btn {
		@media (max-width:800px) {
			display: block;

			.burger__line {
				width: 30px;
				background-color: black;
			}
		}
	}
}