button:focus-visible,
a:focus-visible,
input:focus-visible,
select:focus-visible {
	outline-offset: 3px;
	transition: .15s;
}

.sub-title {
	text-align: center;
	font-size: var(--fz-60);
	margin-bottom: clamp(1.563rem, 1.375rem + 0.94vw, 2.5rem);
}

.close-btn {
	display: none;
	position: absolute;
	top: 25px;
	right: 13px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	z-index: 100;

	&:hover span {
		background: #84998a;
	}

	&--active {
		display: block;
	}

	&__line {
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		border-radius: 5px;
		background: #fff;
		transition: 0.15s;

		&:first-child {
			transform: translateY(-50%) rotate(45deg);
		}

		&:last-child {
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}

.order-btn {
	margin-top: auto;
	padding: 12px 53px;
	width: 100%;
	font-size: 16px;
	color: #fff;
	border-radius: 4px;
	background-color: #8e9ceb;
	transition: background-color 0.2s ease-in-out;

	@media(hover:hover) {
		&:hover {
			background-color: #3f51b6;
		}
	}
}

.drop-shadow {
	box-shadow: 0 0 10px var(--black);
}

.main-link {
	font-size: var(--fz-40);
	margin-bottom: 10px;
	transition: ease-in-out .15s;

	@media (hover:hover) {
		&:hover {
			color: var(--wheat);
		}
	}
}

.lazy-blur {
	-webkit-filter: blur(4px);
	filter: blur(4px);
}


[data-animation] {
	transition: all ease-in-out 0.5s;
}

.appearance {
	opacity: 0;
	visibility: hidden;
	transform: translateY(6rem);
}