button:focus-visible,
a:focus-visible,
input:focus-visible,
select:focus-visible {
	// outline: solid 2px red;
	box-shadow: 0 0 7px var(--saffron);
	outline-offset: 3px;
	transition: .15s;
}

.container-flex {
	display: flex;

	&--space-btw {
		justify-content: space-between;
	}
}


.sub-title {
	text-align: center;
	font-size: 60px;
	margin-bottom: 40px;
}