.hero {
	padding-bottom: 60px;

	@media screen and (orientation: landscape) {
		overflow: auto;
	}

	display: flex;
	flex-direction: column;
	height: 100vh;
	background-image: url(../img/main.webp);
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: var(--white);

	&__container {
		margin-top: auto;
	}

	&__wrapper {
		padding: 20px 10px;
		width: 100%;
		max-width: 650px;
		backdrop-filter: blur(9px) saturate(100%);
		-webkit-backdrop-filter: blur(9px) saturate(100%);
		background-color: rgba(40, 29, 17, 0.4);
		border-radius: 15px;
		border: 2px solid rgba(255, 255, 255, 0.125);
	}

	&__main-title {
		margin-bottom: 15px;
		font-size: var(--fz-90);
		letter-spacing: 5px;
		text-transform: uppercase;
	}

	&__sub-title {
		margin-bottom: 20px;
		font-size: var(--fz-32);
		font-weight: 500;
		line-height: 110%;
		letter-spacing: 1px;
	}


}