.hero {
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-image: url(../img/main.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: var(--white);
	text-align: center;

	&__container {
		margin-top: auto;
		width: 100%;
		max-width: 450px;

		@media(max-width:1024px) {
			padding-bottom: 50px;
		}
	}

	&__main-title {
		margin-bottom: 10px;
		font-family: 'NunitoSans';
		font-size: 72px;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&__sub-title {
		margin-bottom: clamp(30px, 6vw, 42px);
		font-family: 'NunitoSans';
		font-size: 32px;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: 1px;
	}

	&__phone {
		font-size: 40px;
		margin-bottom: 10px;
	}

	a {
		display: block;
		transition: ease-in-out .15s;

		@media (hover:hover) {
			&:hover {
				color: var(--saffron);
			}
		}
	}
}