.modal {
	// position: fixed;
	// width: 100%;
	// height: 100vh;
	display: grid;
	place-content: center;
	background-color: #0000008c;
	z-index: 999;

	&__header {
		margin-bottom: 20px;
	}

	&__container {
		padding: 60px 45px 40px;
		display: block;
		// position: absolute;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		width: 100%;
		max-width: 450px;
		border-radius: 10px;
		color: var(--white);
		background-color: var(--papa-green-hover);
		overflow: hidden;
	}

	&__form {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	input,
	select {
		width: 100%;
		border-radius: 5px;
		font-size: 18px;
		background-color: var(--wheat);
		padding: 10px;
		font-weight: 500;
	}

	input {
		&::placeholder {
			opacity: 0.7;
		}
	}
}

.succes-modal,
.fault-modal {
	opacity: 0;
	visibility: hidden;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	z-index: 60;
	background-color: rgba(0, 0, 0, .3);

	transition: linear .2s;

	&__container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: grid;
		place-content: center;
		border-radius: 30px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 50px;
		font-size: clamp(1.5rem, 1.238rem + 1.31vw, 2.813rem);
		line-height: 130%;
		text-align: center;
		color: var(--black-color);
	}

	&--active {
		opacity: 1;
		visibility: visible;
	}
}

.succes-modal__container {
	background-color: rgb(142, 233, 115);
	border: solid 5px rgb(15, 150, 44);
}

.fault-modal__container {
	background-color: rgb(241, 138, 138);
	border: solid 5px rgb(167, 64, 64);
}