.partners {
	padding: var(--section-indent) 0;
	background-image: url(../img/bg_2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: var(--main-color);

	&__title {
		color: var(--white);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 40px;
		gap: 20px;
	}

	&__item {
		padding: 10px;
		width: 165px;
		height: 165px;
		background-color: var(--white);
		display: flex;
		align-items: center;
		border-radius: 100%;
		box-shadow: 0 0 7px;
		overflow: hidden;

		@media (max-width: 550px) {
			width: 150px;
			height: 150px;
		}

		img {
			display: block;
			margin: 0 auto;
			width: 90%;
			object-fit: cover;
		}
	}
}