.programs {
	padding: var(--section-indent) 0;
	background-image: url(../img/bg1.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--main-color);

	&__title {
		display: block;
		color: var(--white);
	}

	&__products {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 30px;
	}
}