<section class="about" id="about">
	<div class="container about__container" data-animation>
		<div class="about__left">
			<h2 class="sub-title">О Компании</h2>
			<p>Компания &laquo;Шококо&raquo; специализируется на&nbsp;<b>сладостях, для
					которых необходимо специфическое</b> или редкое оборудование. Мягкое
				мороженое, которое делается прямо на&nbsp;глазах у&nbsp;детей
				на&nbsp;празднике? Легко! Вафли по-гонконгски для коллег
				на&nbsp;корпоративе? Звоните, и&nbsp;мы&nbsp;всё организуем!</p>
			<p>
				Мы&nbsp;работаем с&nbsp;2011&nbsp;года, и&nbsp;с&nbsp;тех пор имеем
				в&nbsp;своем &laquo;послужном списке&raquo; <b>более 900 успешно
					организованных мероприятий.</b>
			</p>
			<p>
				Наши сладости и&nbsp;шоколадные фонтаны сделают ваше мероприятие
				незабываемым!
			</p>
		</div>
		<div class="about__right drop-shadow">
			<img src="img/waffle.webp" alt>
		</div>
	</div>
</section>
