<section class="about">
	<div class="container about__container" data-animation>
		<div class="left">
			<h2 class="sub-title">О Компании</h2>
			<p>Компания Шококо специализируется на
				<b>сладостях, для которых необходимо
					специфическое или редкое
					оборудование.</b> Мягкое мороженое,
				которое делается прямо на глазах у детей
				на празднике? Легко! Вафли по-гонконгски
				для коллег на корпоративе? Звоните, и мы
				всё организуем!</p>
			<p>
				Мы работаем с 2011 года, и с тех пор
				имеем в своем «послужном списке» более
				<b>900 успешно организованных
					мероприятий.</b>
			</p>
			<p>
				Наши сладости и шоколадные
				фонтаны сделают ваше
				мероприятие незабываемым!
			</p>
		</div>
		<div class="right">
			<div id="parallax"></div>
		</div>
	</div>
</section>
