<section class="additional-services" id="additional-services">
	<div class="container additional-services__container">
		<h2 class="sub-title">Доп. услуги</h2>
		<ul class="additional-services__list">
			<li class="additional-services__item">
				<img src="img/popcorn.png" class="additional-services__item-img"
					alt="Иконка ваты">
				<div class="additional-services__item-container">
					<h3 class="additional-services__item-title">Попкорн</h3>
					<p class="additional-services__item-descr">
						Карамельный/соленый и др. вкусы, 2ч. работы
					</p>
					<a href="https://t.me/sofagruzdeva" class="order-btn">Заказать</a>
				</div>
			</li>
			<li class="additional-services__item">
				<img src="img/cotton.png" class="additional-services__item-img"
					alt="Иконка ваты">
				<div class="additional-services__item-container">
					<h3 class="additional-services__item-title">Сахарная вата</h3>
					<p class="additional-services__item-descr">
						2ч. работы + доп. вкусы
					</p>
					<a href="https://t.me/sofagruzdeva" class="order-btn">Заказать</a>
				</div>
			</li>
			<li class="additional-services__item">
				<img src="img/mulled.png" class="additional-services__item-img"
					alt="Иконка ваты">
				<div class="additional-services__item-container">
					<h3 class="additional-services__item-title">Глинтвейн</h3>
					<p class="additional-services__item-descr">
						По договоренности
					</p>
					<a href="https://t.me/sofagruzdeva" class="order-btn">Заказать</a>
				</div>
			</li>
			<li class="additional-services__item">
				<img src="img/waffles.png" class="additional-services__item-img"
					alt="Иконка ваты">
				<div class="additional-services__item-container">
					<h3 class="additional-services__item-title">Гонконгские вафли</h3>
					<p class="additional-services__item-descr">
						По договоренности
					</p>
					<a href="https://t.me/sofagruzdeva" class="order-btn">Заказать</a>
				</div>
			</li>
		</ul>
	</div>
</section>