<section class="clients" id="clients">
	<div class="container clients__container" data-animation>
		<h2 class="sub-title clients__title">Клиенты</h2>
		<ul class="clients__list">
			<li class="clients__item">
				<img src="img/clients/rzd.webp" alt="Логотип РЖД"
					srcset="img/clients/rzd.webp"
					data-src="img/clients/rzd.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="clients__item">
				<img src="img/clients/vertex.webp" alt="Логотип Вертекс"
					srcset="img/clients/vertex.webp"
					data-src="img/clients/vertex.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="clients__item">
				<img src="img/clients/expoforum.webp" alt="Логотип Экспофорум"
					srcset="img/clients/expoforum.webp" data-src="img/clients/expoforum.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="clients__item">
				<img src="img/clients/silovie.webp" alt="Логотип Силовые машины"
					srcset="img/clients/silovie.webp" data-src="img/clients/silovie.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="clients__item">
				<img src="img/clients/brinza.webp" alt="Логотип Брынза"
					srcset="img/clients/brinza.webp"
					data-src="img/clients/brinza.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
		</ul>
	</div>
</section>