<section class="footer" id="footer">
	<div class="container footer__container">
		<a href="tel:+79111711003">8 911 711-10-03</a>
		<p class="footer__text">Вы можете связаться с нами в любой день с 9:00 до
			20:00</p>
		<a href="mailto:gruzdevasony@inbox.ru">gruzdevasony@inbox.ru</a>
		<p class="footer__text">Ответим на любой вопрос по услугам</p>
		<a href="mailto:gruzdevasony@inbox.ru">
			<img src alt>
		</a>
		<a href="mailto:gruzdevasony@inbox.ru">
			<img src alt>
		</a>
	</div>
</section>