<header class="header ">
	<div class="container header__container">
		<button class="burger">
			<span class="burger__line"></span>
			<span class="burger__line"></span>
			<span class="burger__line burger__line--min"></span>
		</button>

		<img class="logo" src="img/logo.png" alt="Логотип">
		<div class="header__left">
			<nav class="nav header__nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#about" class="nav__link nav__link-burger"
							data-main-link>О нас</a>
					</li>
					<li class="nav__item">
						<a href="#programs" class="nav__link nav__link-burger"
							data-main-link>Цены</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link nav__link-burger"
							data-main-link>Доп. услуги</a>
					</li>
					<li class="nav__item">
						<a href="#destinations" class="nav__link nav__link-burger"
							data-main-link>Контакты</a>
					</li>
					<li class="nav__item">
						<a href="#blog" class="nav__link nav__link-burger"
							data-main-link>Отзывы</a>
					</li>
					<li class="nav__item">
						<a href="#contacts" class="nav__link nav__link-burger"
							data-main-link>Галерея</a>
					</li>
				</ul>
			</nav>
			<button class="burger-close-btn">
				<span class="burger-close-btn__line"></span>
				<span class="burger-close-btn__line"></span>
			</button>
		</div>
	</div>
</header>
