<section class="partners" id="partners">
	<div class="container partners__container" data-animation>
		<h2 class="sub-title partners__title">Наши партнеры</h2>
		<ul class="partners__list">
			<li class="partners__item">
				<img src="img/rzd.webp" alt="Логотип РЖД" srcset="img/rzd.webp"
					data-src="img/rzd.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="partners__item">
				<img src="img/vertex.webp" alt="Логотип Вертекс" srcset="img/vertex.webp"
					data-src="img/vertex.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="partners__item">
				<img src="img/expoforum.webp" alt="Логотип Экспофорум"
					srcset="img/expoforum.webp" data-src="img/expoforum.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="partners__item">
				<img src="img/silovie.webp" alt="Логотип Силовые машины"
					srcset="img/silovie.webp" data-src="img/silovie.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="partners__item">
				<img src="img/brinza.webp" alt="Логотип Брынза" srcset="img/brinza.webp"
					data-src="img/brinza.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="partners__item">
				<img src="img/brinza.webp" alt="Логотип Брынза" srcset="img/brinza.webp"
					data-src="img/brinza.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="partners__item">
				<img src="img/brinza.webp" alt="Логотип Брынза" srcset="img/brinza.webp"
					data-src="img/brinza.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="partners__item">
				<img src="img/brinza.webp" alt="Логотип Брынза" srcset="img/brinza.webp"
					data-src="img/brinza.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
			<li class="partners__item">
				<img src="img/brinza.webp" alt="Логотип Брынза" srcset="img/brinza.webp"
					data-src="img/brinza.webp"
					class="lazy-blur"
					loading="lazy">
			</li>
		</ul>
	</div>
</section>