<section class="partners" id="partners">
	<div class="container partners__container">
		<h2 class="sub-title partners__title">Наши партнеры</h2>
		<ul class="partners__list">
			<li class="partners__item">
				<img src="img/rzd.webp" alt="Логотип РЖД">
			</li>
			<li class="partners__item">
				<img src="img/vertex.webp" alt="Логотип Вертекс">
			</li>
			<li class="partners__item">
				<img src="img/expoforum.webp" alt="Логотип Экспофорум">
			</li>
			<li class="partners__item">
				<img src="img/silovie.webp" alt="Логотип Силовые машины">
			</li>
			<li class="partners__item">
				<img src="img/brinza.webp" alt="Логотип Брынза">
			</li>
		</ul>
	</div>
</section>