<section class="programs grey-section" id="programs">
	<div class="container" data-animation>
		<h2 class="sub-title programs__title">Наши услуги</h2>
		<ul class="programs__products">
			<li>
				<article class="product">
					<div class="product__img">
						<img src="img/elya.jpg" alt="Фото продукта">
					</div>
					<h3 class="product__title">Маленький шоколадный фонтан (60 см) 3
						яруса от 20 до 40 чел.</h3>
					<div class="product__info">
						<p>Что входить в стоимость:</p>
						<ol>
							<li>
								<p>Бельгийский/Итальянский шоколад</p>
							</li>
							<li>
								<p>Сезонные фрукты</p>
							</li>
							<li>
								<p>Работа шоколатье</p>
							</li>
							<li>
								<p>Расходные материалы (шпажки, тарелки, салфетки, скатерть)</p>
							</li>
							<li>
								<p>Время работы фонтана 2 ч.</p>
							</li>
							<li>
								<p>Доп. час 2000₽ + 1000₽ выезд за пределы
									Санкт-Петербурга</p>
							</li>
						</ol>
					</div>
					<button class="product__btn" id="smallF"
						data-name="Маленький фонтан">Заказать</button>
				</article>
			</li>
			<li>
				<article class="product">
					<div class="product__img">
						<img src="img/2.jpg" alt="Фото продукта">
					</div>
					<h3 class="product__title">Средний шоколадный фонтан (80 см) 3
						яруса от 40 до 70 чел.</h3>
					<div class="product__info">
						<p>Что входить в стоимость:</p>
						<ol>
							<li>
								<p>Бельгийский/Итальянский шоколад</p>
							</li>
							<li>
								<p>Сезонные фрукты</p>
							</li>
							<li>
								<p>Работа шоколатье</p>
							</li>
							<li>
								<p>Расходные материалы (шпажки, тарелки, салфетки, скатерть)</p>
							</li>
							<li>
								<p>Время работы фонтана 2 ч.</p>
							</li>
							<li>
								<p>Доп. час 2000₽ + 1000₽ выезд за пределы
									Санкт-Петербурга</p>
							</li>
						</ol>
					</div>
					<button class="product__btn" id="mediumF"
						data-name="Средний фонтан">Заказать</button>
				</article>
			</li>
			<li>
				<article class="product">
					<div class="product__img">
						<img src="img/3.jpg" alt="Фото продукта">
					</div>
					<h3 class="product__title">Большой шоколадный фонтан (112 см) 4
						яруса от 80 до 120 чел.</h3>
					<div class="product__info">
						<p>Что входить в стоимость:</p>
						<ol>
							<li>
								<p>Бельгийский/Итальянский шоколад</p>
							</li>
							<li>
								<p>Сезонные фрукты</p>
							</li>
							<li>
								<p>Работа шоколатье</p>
							</li>
							<li>
								<p>Расходные материалы (шпажки, тарелки, салфетки, скатерть)</p>
							</li>
							<li>
								<p>Время работы фонтана 2 ч.</p>
							</li>
							<li>
								<p>Доп. час 2000₽ + 1000₽ выезд за пределы
									Санкт-Петербурга</p>
							</li>
						</ol>
					</div>
					<button class="product__btn" id="bigF"
						data-name="Большой фонтан">Заказать</button>
				</article>
			</li>
		</ul>

		<div class="success-modal">
			<div class="success-modal__container">
				<div class="success-modal__content">
					<p>Заявка отправлена 💌</p>
					<p>Мы скоро с Вами свяжемся 😎</p>
				</div>
			</div>
		</div>

		<div class="fault-modal">
			<div class="fault-modal__container">
				<div class="fault-modal__content">
					<p>Что-то пошло не так 💫</p>
					<p>Проверьте соединение с интернетом 🌐</p>
				</div>
			</div>
		</div>

		<div class="popup popup-email">введите email полностью</div>
		<div class="popup popup-phone">введите телефон полностью</div>
		<!-- <h2 class="sub-title programs__title">Дополнительные услуги</h2>
		<ul class="programs__list">
			<li class="programs__item">
				<img src="img/icon 1.webp" alt="Кнопка заказа вафлей">
				<button type="button">Заказать</button>
			</li>
			<li class="programs__item">
				<button type="button">
					<img src="img/icon 2.webp" alt="Кнопка заказа фонтана">
				</button>
			</li>
			<li class="programs__item">
				<button type="button">
					<img src="img/icon 3.webp" alt="Кнопка заказа глинтвейна">
				</button>
			</li>
			<li class="programs__item">
				<button type="button">
					<img src="img/icon 4.webp" alt="Кнопка заказа ваты">
				</button>
			</li>
			<li class="programs__item">
				<button type="button">
					<img src="img/icon 5.webp" alt="Кнопка заказа попкорна">
				</button>
			</li>
		</ul> -->
	</div>
</section>
