<section class="programs" id="programs">
	<div class="container programs__container" data-animation>
		<h2 class="sub-title programs__title">Наши услуги</h2>
		<ul class="programs__products">
			<li>
				<article class="product">
					<div class="product__img">
						<img src="img/small.jpg" alt="Фото продукта" class="lazy-blur"
							srcset="img/small.webp" data-src="img/small.webp" loading="lazy">
					</div>
					<div class="product__header">
						<h3 class="product__title">Маленький шоколадный фонтан (60 см) 3
							яруса от 20 до 40 чел.</h3>
						<h3 class="product__title">Стоимость от&nbsp;12.000₽</h3>
					</div>
					<div class="product__info">
						<p>Что входить в стоимость:</p>
						<ol>
							<li>
								<p>Бельгийский/Итальянский шоколад</p>
							</li>
							<li>
								<p>Сезонные фрукты</p>
							</li>
							<li>
								<p>Работа шоколатье</p>
							</li>
							<li>
								<p>Расходные материалы (шпажки, тарелки, салфетки, скатерть)</p>
							</li>
							<li>
								<p>Время работы фонтана 2 ч.</p>
							</li>
							<li>
								<p>Доп. час 2000₽ + 1000₽ выезд за пределы
									Санкт-Петербурга</p>
							</li>
						</ol>
					</div>
					<button class="product__btn order-btn" id="smallF"
						data-name="Маленький фонтан">Заказать</button>
				</article>
			</li>
			<li>
				<article class="product">
					<div class="product__img">
						<img src="img/medium.jpg" alt="Фото продукта" class="lazy-blur"
							srcset="img/medium.webp" data-src="img/medium.webp" loading="lazy">
					</div>
					<div class="product__header">
						<h3 class="product__title">Средний шоколадный фонтан (80 см) 3
							яруса от 40 до 70 чел.</h3>
						<h3 class="product__title">Стоимость от&nbsp;18.000₽</h3>
					</div>
					<div class="product__info">
						<p>Что входить в стоимость:</p>
						<ol>
							<li>
								<p>Бельгийский/Итальянский шоколад</p>
							</li>
							<li>
								<p>Сезонные фрукты</p>
							</li>
							<li>
								<p>Работа шоколатье</p>
							</li>
							<li>
								<p>Расходные материалы (шпажки, тарелки, салфетки, скатерть)</p>
							</li>
							<li>
								<p>Время работы фонтана 2 ч.</p>
							</li>
							<li>
								<p>Доп. час 2000₽ + 1000₽ выезд за пределы
									Санкт-Петербурга</p>
							</li>
						</ol>
					</div>
					<button class="product__btn order-btn" id="mediumF"
						data-name="Средний фонтан">Заказать</button>
				</article>
			</li>
			<li>
				<article class="product">
					<div class="product__img">
						<img src="img/big.jpg" alt="Фото продукта" class="lazy-blur"
							srcset="img/big.webp" data-src="img/big.webp" loading="lazy">
					</div>
					<div class="product__header">
						<h3 class="product__title">Большой шоколадный фонтан (112 см) 4
							яруса от 80 до 120 чел.</h3>
						<h3 class="product__title">Стоимость от&nbsp;24.000₽</h3>
					</div>
					<div class="product__info">
						<p>Что входить в стоимость:</p>
						<ol>
							<li>
								<p>Бельгийский/Итальянский шоколад</p>
							</li>
							<li>
								<p>Сезонные фрукты</p>
							</li>
							<li>
								<p>Работа шоколатье</p>
							</li>
							<li>
								<p>Расходные материалы (шпажки, тарелки, салфетки, скатерть)</p>
							</li>
							<li>
								<p>Время работы фонтана 2 ч.</p>
							</li>
							<li>
								<p>Доп. час 2000₽ + 1000₽ выезд за пределы
									Санкт-Петербурга</p>
							</li>
						</ol>
					</div>
					<button class="product__btn order-btn " id="bigF"
						data-name="Большой фонтан">Заказать</button>
				</article>
			</li>
		</ul>
		<div class="popup popup-email">введите email полностью</div>
		<div class="popup popup-phone">введите телефон полностью</div>
	</div>

	<div class="additional-services" id="additional-services" data-animation>
		<div class="container additional-services__container">
			<h2 class="sub-title additional-services__title">Доп. услуги</h2>
			<ul class="additional-services__list">
				<li class="additional-services__item drop-shadow">
					<img src="img/additional/popcorn.webp"
						class="additional-services__item-img lazy-blur"
						srcset="img/additional/popcorn.webp"
						data-src="img/additional/popcorn.webp"
						alt="Иконка ваты" loading="lazy">
					<div class="additional-services__item-container">
						<h3 class="additional-services__item-title">Попкорн</h3>
						<p class="additional-services__item-descr">
							Карамельный/соленый и др. вкусы, 2ч. работы
						</p>
						<a href="https://t.me/sofagruzdeva" class="order-btn">Заказать</a>
					</div>
				</li>
				<li class="additional-services__item drop-shadow">
					<img src="img/additional/cotton.webp"
						class="additional-services__item-img lazy-blur"
						srcset="img/additional/cotton.webp" data-src="img/additional/cotton.webp"
						alt="Иконка ваты" loading="lazy">
					<div class="additional-services__item-container">
						<h3 class="additional-services__item-title">Сахарная вата</h3>
						<p class="additional-services__item-descr">
							2ч. работы + доп. вкусы
						</p>
						<a href="https://t.me/sofagruzdeva" class="order-btn">Заказать</a>
					</div>
				</li>
				<li class="additional-services__item drop-shadow">
					<img src="img/additional/mulled.webp"
						class="additional-services__item-img lazy-blur"
						srcset="img/additional/mulled.webp" data-src="img/additional/mulled.webp"
						alt="Иконка ваты" loading="lazy">
					<div class="additional-services__item-container">
						<h3 class="additional-services__item-title">Глинтвейн</h3>
						<p class="additional-services__item-descr">
							По договоренности
						</p>
						<a href="https://t.me/sofagruzdeva" class="order-btn">Заказать</a>
					</div>
				</li>
				<li class="additional-services__item drop-shadow">
					<img src="img/additional/waffles.webp"
						class="additional-services__item-img lazy-blur"
						srcset="img/additional/waffles.webp"
						data-src="img/additional/waffles.webp"
						alt="Иконка ваты" loading="lazy">
					<div class="additional-services__item-container">
						<h3 class="additional-services__item-title">Гонконгские вафли</h3>
						<p class="additional-services__item-descr">
							По договоренности
						</p>
						<a href="https://t.me/sofagruzdeva" class="order-btn">Заказать</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
