html {
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
	scrollbar-gutter: stable;
}

// базовые подключения
@import "./vendor/normalize";
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

body {
	position: relative;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: var(--main-font-size);
	background-color: var(--white);
	color: var(--black);
}

.body--modal {
	overflow: hidden !important;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}

// подключения компонентов страницы
@import "./components/general";
@import "./components/block-animation";
@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/programs";
@import "./components/404";
@import "./components/burger";
@import "./components/modal";
@import "./components/product";
@import "./components/popup";
@import "./components/additional-services";
@import "./components/additional-product";
@import "./components/partners";
@import "./components/contacts";