html {
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
	scrollbar-gutter: stable;
}

input,
select {
	font-size: 18px;

	@media (max-width:500px) {
		font-size: 16px;
	}
}

// * {
// 	outline: solid 2px red;
// }

// базовые подключения
@import "./vendor/normalize";
@import "vars";
@import "mixins";
@import "fonts";

body {
	position: relative;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: var(--fz-18);
	background-color: var(--white);
	color: var(--black);
}

.body--modal {
	overflow: hidden !important;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}

// подключения компонентов страницы
@import "./components/general";
@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/programs";
@import "./components/burger";
@import "./components/modal";
@import "./components/product";
@import "./components/popup";
@import "./components/additional-services";
@import "./components/gallery";
@import "./components/clients";
@import "./components/footer";